[Unit]
Description=Braidstag Client
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
Environment=SERVER={{ game_server_ip }}
ExecStart=/usr/bin/python /home/pi/braidstag/arduino-milestag/game/client.py -s /dev/ttyS0

[Install]
WantedBy=multi-user.target
